body{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   margin: 0%; display: flex;
   flex-direction: column;
}

.top{
    flex: 1;
    background-color: #1F2937;
    display: flex;
   gap: 10px;
   padding-left: 15%;
   padding-right:15% ;
   padding-top: 2%;
   box-sizing: border-box;
  
  
   

   
   
}
.head1{
    flex :3;
    font-size: 24px;
    color: #F9FAF8;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    flex-basis: 60%;
    
    
}
.head{
    flex: auto;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 18px;
    color:#E5E7EB ;
}
.tni{
    flex:1;
    justify-content: stretch;
    display: flex;
    flex-direction: column;
    margin-bottom: 10%;
    align-items: stretch;
    font-size: 18px;
    color: #F9FAF8;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    min-width: none;
    padding-right: 2%;
    

}
.i{
    flex: 1;
    margin-bottom: 10%;
    

}

.but1{
    margin-top: 5%;
    color: #E5E7EB;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 120px;
    font-weight: bolder;
    height: 40px;
    border-radius: 12px;
    background-color: #3882F6;
   
    border-style: none;
}
.imgs{
    display: flex;
    padding-right: 17%;
    padding-left: 17%;
    justify-content: center;
   

    
    
    
}
.img{
    flex: 1;
    display: flex;
    
    width: 210px;
    height: 250px;
    padding: 1%;
    justify-content: center;
    flex-direction: column;
    
   
}
.mid{
    flex: 1;
    margin: 20px;
    
    
    
}
.im{
    align-self: center;
    height: 70%;
    width: 70%;
    border-radius: 20px;
}
.st{
  text-align: center;
}
.mid-low{
    flex: 1;
    background-color: #E5E7EB;
    font-size: 36px;
   
    font-weight: 11;
    font-style: italic;
   
    padding: 15%;
    
}
.bot{
    flex: 1;
    display:flex;
    min-width: none;
    height: 250px;
    box-sizing: border-box;
    padding: 20%;
    

}
.su{
    flex:1;
    align-self: center;
    min-width: none;
    color: #F9FAF8;
    background-color: #3882F6;
    font-size: 18px;
    border-radius:10px;
    padding: 10%;
    
}
.subot{
    
    margin-left: 20%;
    background-color: transparent ;
    border-style: solid;
    border-color: #F9FAF8;
    width: 120px;
    font-weight: bolder;
    height: 40px;
    border-radius: 12px;
    color: #F9FAF8;
    margin-left: 90%;

}

.foot{
    flex: auto;
    height: 90px;
    box-sizing: border-box;
    padding: 90px;
    text-align: center;
    background-color: #1F2937;
    color: #F9FAF8;

}