.top{
    background-color: #1F2937;
    display: flex;
   gap: 10px;
   padding-left: 15%;
   padding-right:15% ;
   padding-top: 2%;
   box-sizing: border-box;
  
   

   
   
}
.head1{
    flex :3;
    font-size: 24px;
    color: #F9FAF8;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    flex-basis: 60%;
    
    
}
.head{
    flex: auto;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 18px;
    color:#E5E7EB ;
}
.tni{
    flex:1;
    justify-content: stretch;
    display: flex;
    flex-direction: column;
    margin-bottom: 10%;
   
    color: #F9FAF8;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    min-width: none;
    

}
.i{
    flex: 1;
    margin-bottom: 10%;

}
.p{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    flex: 1;
    align-items: stretch;
    font-size: 24px;
}
.but1{
    margin-top: 5%;
}